In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
CategoryField = ["CategoryA",
            "CategoryB",
            "CategoryC",
            "CategoryD",
            "CategoryE"]

In [4]:
# from math import ceil
# Field5 = [ceil(np.random.rand()*5000000),
#           ceil(np.random.rand()*1000000),
#           ceil(np.random.rand()*500000),
#           ceil(np.random.rand()*10000),
#           ceil(np.random.rand()*10000),
#          ]
# Field5

In [5]:
Field1 = [99, 237, 1602, 6761, 22]

In [6]:
Field2 = [7241, 112992, 235893, 5910760, 0]

In [7]:
Field3 = [810957, 4058333, 11926494, 18876186, 0]

In [8]:
Field4 = [1347, 20959, 111403, 809883, 0]

In [9]:
Field5 = [4508887, 315049, 371894, 4235, 2766]

In [10]:
cols = ["CategoryField", "Field1", "Field2", "Field3", "Field4", "Field5"]

In [12]:
df = pd.DataFrame(list(zip(CategoryField, Field1, Field2, Field3, Field4, Field5)),
                 columns=cols)

In [13]:
df.head()

  CategoryField  Field1   Field2    Field3  Field4   Field5
0     CategoryA      99     7241    810957    1347  4508887
1     CategoryB     237   112992   4058333   20959   315049
2     CategoryC    1602   235893  11926494  111403   371894
3     CategoryD    6761  5910760  18876186  809883     4235
4     CategoryE      22        0         0       0     2766